 * {
     margin: 0;
     padding: 0;
 }

 header {
     min-height: 85px;
     /*background-color: aquamarine;*/
     background-size: cover;
     margin: 0 auto;
     width: 100%;
     display: flex;
     align-items: center;
 }

 body {
     font-family: 'Roboto', sans-serif;
 }
.section-add-task {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #a49f9f;
    border-radius: 3px;
    justify-content: space-between;
    width: 63%;
    height: 150px;
}
 .container{
     width:35%;
     margin: 0 auto;
 }
 .task {
     border: 1px solid green;
     border-radius: 3px;
     margin-top: 5px;
 }
 .task-row{
    width:100%;
 }
 .block-edit{
     display: flex;
     flex-direction: column;
 }
 .btn-row-direction{
     display: flex;
     flex-direction: row;
     justify-content: right;
     align-items: baseline;
 }
 .btn-row-direction button {
     margin-right: 25px;
     margin-top: 15px;
 }